:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  align-items: center;
  min-width: 320px;
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .wrapper {
    width: 100vw;
    height: 80vh;
    margin-bottom: 8.5vh;
  }

  body {
    align-items: flex-end;
  }
}

.wrapper {
  border-radius: 5px;
  padding: 0.8vh;
  background: linear-gradient(45deg, rgba(87, 87, 87, 0.8), rgba(20, 20, 20, 0.8));
  -webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
  box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
  min-width: 320px;
  max-width: 1500px;
  min-height: 500px;
  display: grid;
  grid-template-rows: 30% 70%;
  resize: both;
  overflow: auto;
  left: 25vh;
  top: 25vh;
  position: absolute;
}

.display {
  background: #305168;
  border-radius: 5px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: right;
  margin: 4px;
  padding: 5px;
  -webkit-box-shadow: inset 0px 0px 18px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 18px -1px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 18px -1px rgba(0, 0, 0, 1);
  cursor: grab;
  word-break: break-all;
  overflow: hidden;
}

.display div {
  padding: 5px;
}

.first {
  grid-area: 1 / 2 / 2 / 3;
}

.second {
  grid-area: 2 / 2 / 3 / 3;
}

.operator {
  grid-area: 2 / 1 / 3 / 2;
}

.result {
  grid-area: 3 / 2 / 4 / 3;
  border-top: 2px solid white;
}

.display:active {
  cursor: grabbing
}

.buttons {
  display: grid;
  grid-template-columns: 76.5% 23.5%;
  grid-template-rows: 33.2% 66.8%;
  gap: 0.5vh;
  padding: 0.25vh;
  overflow: hidden;
  border-radius: 10px;
}

.numbers,
.top,
.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5vh;
}

.numbers {
  grid-area: 2 / 1 / 3 / 2;
}

.numbers input {
  background: #6a6a6e;
  border: 0;
}

.numbers input:active {
  background: #4e4e51;
}

.right input:active,
.top input:active {
  background: #3b3b3e;
}

.top {
  grid-area: 1 / 1 / 2 / 2;
}

.right {
  grid-area: 1 / 2 / 3 / 3;
  grid-template-columns: 1fr;
}

.top input,
.right input {
  background: #4e4e54;
  border: 0;
}

.right input:last-child {
  background: #d18727;
}

input {
  font-size: large;
}

input[type=button],
button {
  cursor: pointer;
}